@font-face{
    src: url(assets/fonts/Inter-VariableFont_slnt_wght.ttf);
    font-family: "Inter";
}


:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

* {
    box-sizing: content-box;
    
}

body {
    font-family: "Inter",sans-serif;
    background-color:var(--Grey900);
    display:flex;
    min-height:100vh;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    


}

.container {
    position:relative;
    background-color: var(--Grey800);
    border-radius: 10px;
    padding: 4rem;
    text-align: center;
    max-width: stretch;

    
}

img{
    border-radius:50%;
}

h1{
    color:var(--White);
}
h2{
    color:var(--Green);
    font-size:1.2rem;
}
p{
    color:var(--White);
}

ul {
    position:relative;
    list-style-type: none;
    color: var(--White);
    margin:0;
}

li{
    display:block;
    align-items:center;
    gap: 4rem;
    justify-items:center;
    
}
.list a {
    text-align: center;
    min-width: 16rem;
    display: block;
    padding: 0.8rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    align-self: stretch;
    background-color: var(--Grey700);
    color:var(--White);
    border-radius: 0.5rem;
    text-decoration: none;
    margin-block:16px;

}

.list a:hover {
    text-align: center;
    min-width: 16rem;
    display: block;
    padding: 0.8rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    align-self: stretch;
    background-color: var(--Green);
    color: var(--Grey800);
    border-radius: 0.5rem;
    text-decoration: none;
    margin-block: 16px;
}
