@font-face{
    src: url(assets/fonts/Inter-VariableFont_slnt_wght.ttf);
    font-family: "Inter";
}


:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

* {
    box-sizing: content-box;
    margin:0;
    
}

body {
    font-family: "Inter",sans-serif;
    background-color:var(--Grey900);
    display:flex;
    min-height:100vh;
    align-items:center;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    margin:0;
    


}

.container {
    width: max(384px);
    background-color: var(--Grey800);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    flex-basis: inherit;
    
}

img{
    border-radius:50%;
    margin:0.5rem;
}

h1{
    color:var(--White);
    margin: 0 1.5rem;
}
h2 {
    color: var(--Green);
    font-size: 1.2rem;
    margin: 0 1.5rem;
}
p{
    margin-top:1.5rem;
    margin-bottom:0.5rem;
    color:var(--White);
}

ul {
    display:block;
    list-style-type: none;
    color: var(--White);
    margin: 0;
    list-style: none;
    
}

li {
    display: block;
    position: relative;
    align-items: center;
}
.list a {
    min-width: 20rem;
    display: grid;
    padding: 0.8rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    align-self: stretch;
    background-color: var(--Grey700);
    color: var(--White);
    border-radius: 0.5rem;
    text-decoration: none;
    margin:0.8rem 0;
   
}

.list a:hover {
    
    min-width: 16rem;
    display: block;
    padding: 0.8rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    align-self: stretch;
    background-color: var(--Green);
    color: var(--Grey800);
    border-radius: 0.5rem;
    text-decoration: none;
   
}
